.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 50vh;
    @media (max-height: 450px) {
        bottom: 35vh;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="text"] {
            border: 1px solid black;
            padding: 8px;
            margin-bottom: 10px;
            background-color: #222;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        button {
            padding: 8px 16px;
            background-color: #5b0e2d;
            color: #fbeaeb;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #fbeaeb;
                color: #5b0e2d;
            }
        }
    }

    .message {
        margin-top: 10px;
    }
}
