.trivia-box {
    max-width: 90vw;
    align-self: center;
}
.optionContainer {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-direction: row !important;
    }
}

.option {
    width: 50%;
    cursor: pointer;
    &:hover {
        color: white;
    }
    @media (max-width: 768px) {
        width: 30%;
    }
}
.selected {
    background: black;
}
