.gameContainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.scores {
    display: flex;
    gap: 1rem;
    width: 100%;
    @media (max-width: 768px) {
        transform: scale(0.55);
    }
    @media (max-width: 1075px) {
        flex-direction: row !important;
    }
}
.countDown {
    position: absolute;
    left: 25%;
    top: 20%;
    color: #333;
    text-align: center;
    margin-top: 20px;

    .number {
        width: 100%;
        height: 100%;
        font-size: 5rem;
        animation: fade-in-enlarge 1s linear;
        color: #fff;
    }
    @media (max-width: 768px) {
        left: 50%;
    }
    @keyframes fade-in-enlarge {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}
.pointChange {
    position: absolute;
    top: 25%;
    left: 25%;
    opacity: 1;
}
