.mainControllerContainer {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fbeaeb;
    font-size: 14px;

    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
