
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html {
  font-family: monospace;
  background: url("../../public/worldmap.svg");

  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;

}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
img{
  border-radius: 4px;
}
@keyframes scrollAnimation {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.frame {
  background: url("../../public/large-triangles(2).svg");
  background-position: center;
  padding: 1rem;
  border-radius: 0.5rem;
 border: 1px solid black;
  color:   #FBEAEB;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
;
}
button {
  padding: 8px 16px;
  background-color: #5b0e2d;
  color: #fbeaeb;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
 
}
button:hover {
  background-color: #fbeaeb;
  color: #5b0e2d;
}
