.homeContainer {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #ffa781;
  font-size: 24px;
  padding: 5% 5% 0 5%;

  gap: 2rem;
  .title {
    font-size: 36px;
  }

  .favicon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  @media (max-width: 768px) {
    margin-bottom: 25%;
  }
}
