.dashboardContainer {
    color: #fff;
    font-size: 14px;

    p {
        margin-bottom: 10px;
    }

    button {
        padding: 8px 16px;
        background-color: #8e3c9a;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}
